# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
database.db

# Distribution / packaging
.Python
env/
venv/
ENV/

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
